@charset 'UTF-8';

//
// Fonts
// 
$font-heading: 'Roboto Slab', 'Lucida Bright', serif;
$font-body: Inter, Arial, sans-serif;
$font-fancy: Kalam, cursive;

//
// Colors
//
$color-yellow: #ffefba;

$color-white: #fff;
$color-offwhite: #f5f3f3;
$color-lightgrey: #eee;
$color-grey: #cfcfcf;
$color-grey2: #888;
$color-darkgrey: #333;
$color-black: #000;
