@charset 'UTF-8';

@import 'variables';

/*
 * home.scss
 *
 * Home page-specific styles
 */

.home.page .page-title {
	margin: 0 auto 15px;
	padding-top: 30px;

	&::before {
		content: '👋';
		margin-right: 10px;
	}
}

.bg-steps {
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.profile-pic {
	display: block;
	margin: 30px auto;
	width: 200px;
	height: auto;
	border-radius: 50%;
	border: 2px solid $color-grey2;
	box-shadow: 0px 4px 8px -2px #333;
}
.profile-pic:hover {
	cursor: pointer;
}
.profile-pic {
	animation-duration: 0.8s;
}


.about-text {
	width: 90%;
	max-width: 350px;
	font-size: 110%;
	margin: 20px auto;
	font-family: $font-body;
}
.about-text.contact {
	font-size: 110%;
}

.workbtn {
	display: inline-block;
	padding: 10px 25px;
	margin: 30px 0;
	font-family: $font-heading;
	text-align: center;
	font-size: 200%;
	transition: color, background 300ms;
	text-decoration: none;
	border-radius: 10px;
	color: #333;
	box-shadow: 0px 0px 10px -3px #333;
	background: #ffefba;
}
.workbtn:hover {
	color: $color-black;
	background: #ecddaa;
	margin-bottom: 28px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.home.page footer {
	text-align: center;
	margin-top: 10px;

	.social-icon-link {
		margin: 0 10px;
		padding: 5px;
		text-decoration: none;
	}
	.social-icon {
		width: 50px;
	}
}
