@charset 'UTF-8';

@import 'variables';
@import 'projects';

/*
 * work.scss
 *
 * Page that displays projects and job history
 */

.work.page {
	// accomodate for sticky header
	padding-top: 142px;
}

.work.page header {
	position: relative;
	z-index: 999;
	margin: 0;
	color: #eee;
	box-shadow: 0px 0px 12px 0px #222;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	.page-title {
		margin: 10px auto 15px;
	}

	.social-icon {
		max-width: 40px;
		margin: 0 10px 15px 10px;
		text-decoration: none;
	}
}

.work.page .resume {
	margin-top: 50px;
	font-size: 90%;

	.resume__link {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #888;

		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}
	.resume__link:hover .resume__icon {
		opacity: 1;
	}
	.resume__icon {
		opacity: 0.8;
		margin-right: 15px;
		height: 30px;
		width: auto;
	}
}

.work.page footer {
	text-align: center;
	margin-bottom: 40px;
}

.work.page .section-head {
	font-family: $font-heading;
	text-align: center;
	margin: 50px 0 20px;
}


.work.page .job,
.work.page .project {
	border-radius: 20px;
	max-width: 700px;
	margin: 0 auto 60px;
}


.work.page .job {
	z-index: 9;
	box-shadow: 0px 0px 10px -5px #333;
	padding-bottom: 20px;
	margin-bottom: 60px;
	background: #fff;
	border-radius: 20px;
	background: #fff;
	border-radius: 20px;

	.job__info {
		width: 100%;
		padding: 10px 0 50px;
		margin: 0;
		border-radius: 20px 20px 0 0;
		text-align: center;
		box-shadow: 0px 3px 8px -5px #333;
		font-family: $font-heading;
		letter-spacing: 0.5px;

		.job__title {
			margin: 20px auto 10px;
			width: 90%;
		}
		.job__company {
			margin: 0;
		}
		.job__link {
			text-decoration: none;
			color: #111;
		}
		.job__link:hover {
			text-decoration: underline;
		}
	}

	.job__pic {
		text-align: center;

		.job__link {
			display: inline-block;
		}
		.job__logo {
			width: 80%;
			height: auto;
			display: block;
			max-width: 100px;
			margin: -40px auto 0;
			border-radius: 50%;
			box-shadow: 0px 3px 8px -3px #333;
			background: #fff;
			transition: transform 400ms;
		}
		.job__logo:hover {
			transform: translateY(-7px);
		}
	}

	.job__list {
		line-height: 1.5;
		margin: 30px auto;
		max-width: 300px;
		font-family: $font-body;
	}
	.job__bullet {
		margin-bottom: 10px;
	}

	//
	// Adjust backgrounds for individual jobs
	//
	.job__info.bg-sun {
		background-repeat-x: no-repeat;
		background-size: cover;
	}
	.job__info.bg-brick {
		color: #fff;
		background-position-y: 15px;
	}
	.job__info.bg-brick a {
		color: #fff;
	}
	.job__info.bg-clean {
		background-position-y: 0;
		background-size: 120%;
	}
	.job__info.bg-doodle {
		background-size: 95%;
		background-position-x: -10px;
	}
}
// end of .job


@media (min-width: 768px) {
	.home.page {
		padding-top: 200px;
		max-width: 700px;
		margin: 0 auto;
	}

	.home.page .job {
		.job__info {
			padding: 10px 0 60px;
		}
	}
}
